//倒三角型
.arrow{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    bottom: -52px;
    left: 50%;
    transform: translateX(-50%);
    border: solid 10px;
    border-top-color: $primary;
    border-right-color:  transparent;
    border-bottom-color:  transparent;
    border-left-color:  transparent;
  }
}