$utilities: map-merge(
  $utilities,
  (
    "height":
      map-merge(
        map-get($utilities, "height"),
        (
          responsive: true,
          // 沒有的屬性，可以直接加上，不用使用下面的 map-merge map-get 去取得原本的值，然後再合併
          values:
            map-merge(
              map-get(map-get($utilities, "height"), "values"),
              (
                x0\.68: 68px,
                x0\.96: 96px,
                x1\.17: 117px,
                x1\.5:  150px,
                x1\.61: 161px,
                x1\.65: 165px,
                x1\.96: 196px,
                x2\.07: 207px,
                x2\.1:  210px,
                x2\.16: 216px,
                x2\.18: 218px,
                x2\.41: 241px,
                x2\.43: 243px,
                x2\.52: 252px,
                x2\.64: 264px,
                x2\.66: 266px,
                x2\.67: 267px,
                x3\.23: 323px,
                x3\.41: 341px,
                x3\.5:  350px,
                x3\.6:  360px,
                x3\.67: 367px,
                x4\.18: 418px,
                x4\.2:  420px,
                x4\.44: 444px,
                x4\.45: 445px,
                x4\.65: 465px,
                x6\.28: 628px,
              )
            ),
        )
      ),
      "overflow":
      map-merge(
        map-get($utilities, "overflow"),
        (
          responsive: true,
        )
      ),
      "text-shadow":(
        property: text-shadow,
        class: text-shadow,
        values: (
          null: 0 0 5px #000000,
          sm: $box-shadow-sm,
          lg: $box-shadow-lg,
          none: none,
        )
      ),
      "opacity":(
        property: opacity,
        class: opacity,
        values: (
          0\.3: .3,
        )
      ),
      "width":
      map-merge(
        map-get($utilities, "width"),
        (
          responsive: true,
          values: 
          map-merge(
            map-get(map-get($utilities, "width"), "values"),
            (
              x0\.68: 68px,
              x0\.85: 85px,
              x0\.96: 96px,
              x2\.7:  270px,
              x2\.8:  280px,
              x3\.05: 305px,
              x3\.4:  340px,
            )
          ),
        )
      ),
  )
);